<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <div>
            <h1>Rezervare noua</h1>
            <p>Nume: <%= nume %> </p>
            <p>Telefon: <%= tel %> </p>
            <p>Data: <%= data %> </p>
            <hr>
            <p >Mesaj: </p>
            <p><%= mesaj %> </p>
        </div>
    </center>
</body>
</html>